@use "sass:math";
@import "@tabler/core/src/scss/variables";
@import "@tabler/core/src/scss/variables-dark";
@import '@yaireo/tagify/dist/tagify.css';

$input-border-color:  #ced4da;
$text-input-color:  #ced4da;

.tagify__tag__removeBtn {
  display: none;
}

body[data-bs-theme="dark"] {
  --tagify-dd-color-primary: rgb(53,149,246); // should be same as "$tags-focus-border-color"
  --tagify-dd-text-color: #{$text-input-color};
  --tagify-dd-bg-color: #{$darken-dark};
  --tagify-dd-item-pad: .3em .5em; // should be same as $tag-pad (below)
  --tagify-dd-max-height: 300px;
}

.multi-tags-look .tagify__dropdown__item{
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.multi-tags-look .tagify__dropdown__item--active{
  border-color: black;
}

.multi-tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}

.multi-tags-look .tagify__dropdown__item--hidden {
  max-width: 0;
  max-height: initial;
  padding: .3em 0;
  margin: .2em 0;
  white-space: nowrap;
  text-indent: -20px;
  border: 0;
}